@charset "utf-8";

body {
    margin: 0;
    font-size: .16rem;
    font-family:PingFangSC-Regular;
    color: #E5CFA8;
}
/* reset */
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h2 {
     margin: 0;
     padding: 0;
 }
 /* main */
.bkbt-container {
    padding-bottom: 1.7rem;
    background: #10051E;
}
.bkbt-f {
    box-sizing: border-box;
}

.bkbt-f1 {
    background: url('../img/bg_f1.png') no-repeat center;
    background-size: 7.5rem;
    height: 12.06rem;
    padding-top: .51rem;
}

.header-text {
    font-size: .3rem;
    width: 6.5rem;
    height: .56rem;
    line-height: .56rem;
    text-align: center;
    margin: 0 auto;
    border-radius: .28rem;
    border: 1px solid rgba(166, 154, 182, 0.5);
}

.f1-888 {
    width: 6.22rem;
    height: 2.88rem;
    background: url('../img/f1_888.png') no-repeat;
    background-size: 6.22rem 2.88rem;
    margin: .63rem auto .32rem;
}

.download-box {
    width: 6.22rem;
    height: 3.88rem;
    background: url('../img/bg_download.png') no-repeat;
    background-size: 6.22rem 3.88rem;
    margin: 0 auto .08rem;
    box-sizing: border-box;
    padding-top: .2rem;
    text-align: center;
}

.download-box .logo{
    display: block;
    width: 1.84rem;
    height: 1.84rem;
    background: url('../img/f1_logo.png') no-repeat;
    background-size: 1.84rem 1.84rem;
    margin: 0 auto .62rem;
}
.download-box .desc p{
    display: inline;
    color: #E5CFA8;
    font-size: .28rem;
    line-height: .4rem;
    margin-bottom: .08rem;
    text-align: center;
}
.create-btn {
    width: 4.02rem;
    height: 1.32rem;
    background: url('../img/f1_btn_create.png') no-repeat;
    background-size: 4.02rem 1.32rem;
    margin: .08rem auto .7rem;
}
.icon-arrow {
    display: block;
    width: .44rem;
    height: .4rem;
    background: url('../img/icon_arrow.png') no-repeat center;
    background-size: .44rem .4rem;
    margin: auto;
}
.bkbt-f2 {
    padding: .24rem .64rem .1rem;
}
.activity-rule-box {
    border: 1px solid #502984;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: .26rem;
    background: RGBA(38, 16, 68, 0.2);
}
.activity-rule-box h2{
    margin: 0;
    font-size: .32rem;
    font-weight: 600;
    line-height: .64rem;
    border-bottom: 1px solid #502984;
    text-align: center;
    margin-bottom: .36rem;
}
.activity-rule-box > p{
    font-size: .26rem;
    line-height: .37rem;
    width: 5.78rem;
    margin: 0 auto .5rem;
}
.activity-rule-box p.last{
    margin-bottom: .39rem;
}
.qrcode-box {
    width: 2.5rem;
    margin: auto;
}
.qrcode-box img{
    width: 2.5rem;
    display: block;
    margin-bottom: .14rem;
}
.qrcode-box p{
    line-height: .42rem;
    text-align: center;
}
.qrcode-box p:nth-child(1){
    font-weight: 600;
}
.weight {
    font-weight: 600;
}
.bkbt-f3 {
    position: relative;
    overflow: hidden;
}
.bkbt-f3 .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 7.06rem;
    padding: 0 .22rem;
    z-index: 1;
}
.bkbt-f3 .bg1{
    height: 7rem;
    background: url('../img/bg_rating_1.png') no-repeat;
    background-size: 7.06rem 7rem;
}
.bkbt-f3 .bg2{
    height: 1000rem;
    background: url('../img/bg_rating_2.png') repeat-y;
    background-size: 7.06rem 6.06rem;
}
.bkbt-f3 .bg3{
    height: .82rem;
    background: url('../img/bg_rating_3.png') no-repeat;
    background-size: 7.06rem .82rem;
}
.bkbt-f3 .bg4{
    height: .82rem;
    background: url('../img/bg_rating_bottom.png') no-repeat;
    background-size: 7.06rem .82rem;
}
.bkbt-f3 .bg4 p{
    text-align: center;
    font-size: .28rem;
    line-height: .4rem;
    color: #FAF6FE;
    padding-top: .18rem;
}
.bkbt-f3 .bg4 p span{
    color: #FEDFA7;
}
.rating {
    position: relative;
    top: 0;
    left: .22rem;
    width: 7.06rem;
    padding: .54rem .42rem 0;
    box-sizing: border-box;
    z-index: 2;
}
.rating h2{
    font-size: .44rem;
    line-height: 1.02rem;
    font-weight: 600;
    text-align: center;
    color: #EADAFF;
    border-bottom: 1px solid #CBA4FF;
}
.flex-box {
    display: flex;
    align-items: center;
}
.rating li {
    border-bottom: 1px solid #502984;
    padding: .16rem 0;
}
.rating li > p {
    font-family: PingFangSC-Semibold;
    width: 1.18rem;
    text-align: center;
    font-size: .64rem;
    line-height: .9rem;
    color: #FEDFA7;
    font-weight: 600;
}
.rating li > p.lt99 {
    font-size: .48rem;
}
.head-img {
    display: block;
    width: .92rem;
    height: .92rem;
    border-radius: 50%;
    border: 2px solid #EADAFF;
}
.nickname {
    font-size: .32rem;
    line-height: .45rem;
    margin-bottom: .08rem;
    color: #FEDFA7;
}
.invite {
    font-size: .28rem;
    line-height: .4rem;
    color: #A69AB6;
}
.invite span{
    color: #FEDFA7;
}
.rating-box {
    overflow: hidden;
    position: relative;
}
.loadmore-btn-box {
    padding: 0 .22rem;
}
.bkbt-self-info {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 7.5rem;
    height: 1.5rem;
    background: url('../img/bg_fixed.png') no-repeat center;
    background-size: 7.5rem 1.5rem;
    box-sizing: border-box;
    padding: .38rem 0 .16rem .66rem;
    z-index: 5;
}
.bkbt-self-info .invite{
    font-size: .26rem;
    line-height: .37rem;
}
.bkbt-self-info img{
    margin-right: .3rem;
}
.bkbt-self-info .my-invite{
    width: 3.76rem;
}
.bkbt-self-info a{
    display: block;
    width: 1.32rem;
    height: .58rem;
    line-height: .58rem;
    border-radius: 4px;
    background: #261044;
    color: #EADAFF;
    border-radius: 1px solid #502984;
    text-align: center;
    font-size: .26rem;
}
/* my invite */
.myInviteOutBox {
    padding: .36rem .64rem;
    min-height: 100vh;
    box-sizing: border-box;
}
.myInviteBox{
    background: rgba(38, 16, 68, 0.2);
    border: 1px solid #502984;
    border-radius: 4px;
    overflow: hidden;
}
.myInviteBox ul{
    overflow: scroll;
    height: calc(100vh - 1.37rem);
}
.myInviteBox .title{
    color: #EADAFF;
    font-size: .44rem;
    line-height: .64rem;
    text-align: center;
    font-weight: 600;
    background: rgba(38, 16, 68, 0.3);
}
.myInviteBox li{
    display: flex;
    padding: .16rem .46rem;
    align-items: center;
}
.myInviteBox li{
    display: flex;
    padding: .16rem .46rem;
    border-top: 1px solid #502984;
}
.myInviteBox li div{
    margin-left: .46rem;
}
/* rating */
.ratingBox {
    padding-bottom: 0;
    height: 100vh;
}
.ratingBox ul{
    height: calc(100vh - 2.78rem);
    overflow: scroll;
}
/* loading */
.loading,
.inviteImgBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0E0E0E;
    z-index: 100;
    display: none;
}
.loading.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif_box {
    width: .66rem;
    height: .66rem;
    background: url('../img/loading.gif') no-repeat center;
    background-size: .66rem .66rem;
}
.inviteImgBox {
    display: none;
    padding-top: .47rem;
    box-sizing: border-box;
}
.inviteImgBox .imgBox {
    height: calc(100vh - 1.54rem);
    box-sizing: border-box;
}
.inviteImgBox .longPress {
    font-size: .38rem;
    line-height: .53rem;
    text-align: center;
    color: #EADAFF;
    font-weight: 600;
    text-shadow: 0 2px 4px #000;
    margin-top: .17rem;
}
.inviteImgBox .icon-close {
    position: absolute;
    top: .08rem;
    right: 0.08rem;
    width: 0.6rem;
    height: 0.6rem;
    background: url('../img/icon_close.png') no-repeat center;
    background-size: .6rem .6rem;
    z-index: 1;
}
.inviteImgBox img {
    height: 100%;
    margin: auto;
    display: block;
}
/* bind */
.formContainer {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: .32rem;
    background: #EBEBEB;
}
.inputGroup {
    background: #fff;
    width: 7.18rem;
    box-sizing: border-box;
    padding: 0 .26rem;
    margin: 0 auto .34rem;
}
.inputGroup .code{
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
.inputGroup .code span{
    font-size: .28rem;
    padding: 0 .32rem;
    line-height: .88rem;
    color: #FF6900;
}
.inputGroup .code span.active{
    color: RGBA(255, 105, 0, 0.5);
}
input,
button {
    -webkit-appearance: none;
    appearance: none;
}
input {
    height: .88rem;
    line-height: .88rem;
    font-size: .32rem;
    color: #222;
    margin: 0;
    padding: 0;
    border: none;
    width: 4rem;
    outline: none;

}
input::-webkit-input-placeholder{
    color:#D8D8D8;
}
input::input-placeholder{
    color:#D8D8D8;
}
.formContainer .tip{
    font-size: .28rem;
    line-height: .4rem;
    color: #999;
    margin-bottom: .46rem;
    text-align: center;
}
.formContainer .tip2{
    width: 6.14rem;
    text-align: left;
    margin: .36rem auto .52rem;
}
.btn {
    box-sizing: border-box;
    background: #FF6900;
    padding: 0;
    color: #fff;
    text-align: center;
    border: none;
    font-size: .36rem;
    border-radius: .1rem;
}
.btn-large {
    width: 6.7rem;
    line-height: .94rem;
    height: .94rem;
    margin: 0 auto;
    display: block;
}
.btn.disabled{
    opacity: .5;
}
.formContainer2{
    padding-top: 1.03rem;
}
.formContainer2 .des{
    font-size: .36rem;
    line-height: .5rem;
    height: .5rem;
    color: #222;
    text-align: center;
}
.icon-success {
    display: block;
    width: 1.34rem;
    height: 1.34rem;
    background: url('../img/icon_success.png') no-repeat center;
    background-size: 1.34rem 1.34rem;
    margin: auto;
}
.formContainer3{
    padding-top: 1.3rem;
}
.formContainer3 .des{
    margin-bottom: .24rem;
}
.formContainer3 .tip{
    margin-bottom: .48rem;
}
.formContainer3 .tip3{
    color: #222;
    margin: 0 auto 1.2rem;
}